body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.modalview {
  text-align: center;
  margin-top: 100px;
}

.pa2 {
  width: 700px;
  padding-left: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  margin-top: 2rem;
}

.pa2 input {
  height: 32px;
  width: 100%;
  padding: 0px 12px 0px 12px;
}

.tc {
  width: 100%;
  border: 15px solid white;
  padding: 50px;
  margin: 20px;
}

.ImageListItemBar title {
  font-size: 5rem;
}

img {
  overflow: hidden;
}

.flex {
  display: inline-flex;
}

.pagination {
  list-style: none;
  outline: none;
  width: 100px;
  margin-left: 360px;
}

.pagination > .active > a {
  background-color: #47ccde;
  color: #fff;
}

.pagination > li > a {
  outline: none;
  cursor: pointer;
}
.page {
  width: 100%;
}
.buttons button {
  width: 100%;
}
/* .pagenumbers {
  width: 10px;
  height: 10px;
  padding-right: 1rem;
} */
.pagination > li > a,
.pagination > li > span {
  color: #47ccde;
  background-color: azure;
  display: block;
}

.delete {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 100px !important;
  height: 100px !important;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  /*width: 50px;
  height: 50px;
  border: 10px solid red; /* Light grey */
  /*border-top: 10px solid #383636; /* Black */
  /*border-radius: 50%;
  animation: spinner 1.5s linear infinite;*/
  animation: "border" variant= "primary" linear infinite;
}

.ic2-fa-spin-blue {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  border: 3px solid #008ad6;
  border-radius: 50%;
  border-top: 3px solid #f3f3f3;
  width: 20px;
  height: 20px;
  -webkit-animation: ic2-spin 2s linear infinite; /* Safari */
  animation: ic2-spin 2s linear infinite;
  -moz-animation: ic2-spin 2s infinite linear;
  -o-animation: ic2-spin 2s infinite linear;
  /*position: absolute;
  /*margin-left:1em;*/
  /*margin-top: 6px;
  margin-right: auto;
  margin-left: auto;*/
  display: block;
  position: absolute;
}
@-webkit-keyframes ic2-spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ic2-outlined-spin-blue-btn {
  color: #a3deff;
  border: 1px solid #008ad6;
}
.ic2-outlined-btn {
  border-radius: 3px;
  background-color: var(--white-color);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
  font-family: Roboto;
  font-size: 17px;
  font-weight: 500;
  /*line-height: 32px;*/
  text-align: var(--button-alignment);
  padding: 0px 16px;
  border-radius: 3px;
  width: auto;
  word-spacing: 8px;
  height: 32px;
}

p {
  color: blue;
}

.loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #3498db;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin: auto;
  animation: spin 1s linear infinite;
}

#page-numbers {
  list-style: none;
  display: flex;
}

#page-numbers > li {
  margin-right: 0.3em;
  color: blue;
  user-select: none;
  cursor: pointer;
}
.header-dark {
  background-color: #baaae6;
  width: auto;
  height: 70px;
  text-align: center;
  font-size: 40px;
  font-style: initial;
  font-weight: 500;
  color: blue;
}

.sort {
  background-color: #d6f5b2;
  width: 135px;
  height: 50px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  box-shadow: 0 1px 2px #f4ce83;
  text-align: center;
  justify-content: center;
  font-size: 2rem;
  line-height: 65px;
}

#standard-bare {
  width: 500px;
}
.card {
  display: inline-flex;
}
.card-body {
  background-color: azure;
}
.table {
  display: grid;
  width: auto;
  grid-template-columns: 50% 50% 50% 50% 50%;

  max-width: 480px;
}
.card-body {
  background-color: rgba(16, 111, 179, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);

  text-align: center;
}
.container-fluid {
  overflow: hidden;
  place-items: center;
}

.btn-group {
  justify-content: center;
  margin-left: 0.5rem;
  color: #f3f3f3;
}
.flex-container {
  display: flex;
}

.flex-child {
  flex: 1;
}

.flex-child:first-child {
  margin-right: 50rem;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 0.35em;
}

table th,
table td {
  padding: 0.625em;
  text-align: center;
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}
.list {
  background-color: #008ad6;
}

/* general styling */
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
}
